<h1>Add Your Items</h1>
    <form action="/bags" method="post">
    <label for="bag_contents">Add Items:</label>
    <input type="text" name="bag_contents">
    <input type="submit" value="Add">
</form>