<h1>Create a New Bag</h1>
<form action="/bags" method="post">
    <label for="bag_name">Bag Name:</label>
    <input type="text" name="bag_name">
    <label for="bag_contents">Contents:</label>
    <textarea rows= "5" cols= "10" name="bag_contents"></textarea>
    <input type="submit" value="Create Bag">
</form>

