<h1>Create a New Bag</h1>
<form action="/bags" method="post">
    <label for="bag_name">Bag Name:</label>
    <input type="text" name="bag_name" value="">
    <input type="submit" value="Create Bag">
</form>
<a href="/logout">Log Out</a>
